
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bili_Live_Autotest</title>
    <style>
    h1  {
        text-align: center;
        color: #0000FF;
        font-size: 50px;
        text-shadow: 3px 3px 3px#111111;
    }
     h2 {
         text-align: center;
         color: lightcoral;
         font-size: 40px;
     }

    </style>
    <script>
        function change() {
            document.getElementsByTagName('h1')[0].style.color = '#ff0000';
        }
    </script>
</head>
<body>
    <div id="body1" style="background-color:lightpink">
    <h1 onclick="change()">Test Home</h1>
    <b style="font-size: 25px"><p>BILI 自动化平台</p></b>
        <p style="font-size: 20px">欢迎 {{name}} ~~~!</p>
        <p>{% for i in things %}
            {{i}}
            {% endfor %}
        </p>
    <a href="http://www.baidu.com"  target="_blank">百度</a>
    <a href="http://live.bilibili.com" target="_blank">B站</a>
    <a href="https://lol.qq.com" target="_blank">LOL官网</a>
        <dl>
            <li style="color: blueviolet">狐狸-阿狸</li>
            <li>探险家-伊泽瑞尔</li>
            <li>皮城女警-凯特琳</li>
        </dl>

    <hr>
    </div>
    <h2>萌妹百科</h2>
    <a href="/search_form" target="_blank">搜索</a>
    <img src="http://i1.hdslb.com/bfs/face/e96ebe5b4a5573879cae668e8e961880344a5a38.jpg" alt="frist images" width="=300" height="400">
    <table border="1">
        <tr>
            <th>名字</th>
            <td>松冈祯丞 ,茅野爱衣</td>
        </tr>
        <tr>
            <th>昵称</th>
            <td>松冈爱衣 ,茅野祯丞</td>
        </tr>
    </table>
    </div>

<div id="页脚" style="background-color:lightpink;clear:both;text-align:center;">
小龙所有 qinjing@bilibili.com
</div>

</body>
</html>
